<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの旅行先は…</p>
</div>
<div class="travel-container">
  <% case [@travel.question1, @travel.question2, @travel.question3] %>
  <% when ["1", "1", "1"] %>
    <h6>スペイン</h6>
    <p>比較的リーズナブルでバル文化を楽しめる街</p>
    <p>フレンドリーな街で海外発でもおすすめ</p>
    <p>スペイン料理の代表、パエリアは地域ごとに味を楽しめる</p>
  <% when ["1", "1", "2"] %>
    <h6>ドイツ</h6>
    <p>中世の雰囲気が楽しめる定番スポット</p>
    <p>歴史的なお城巡りでゆったり過ごそう</p>
    <p>圧倒的なゴシック建設のケルン大聖堂は必見</p>
  <% when ["1", "2", "1"] %>
    <h6>メキシコ</h6>
    <p>ボリューム満点なローカル屋台が絶品の国</p>
    <p>屋台や市場で安価な料理の魅力に浸ろう</p>
    <p>タコスやエンチラーダを現地で試してみては？</p>
  <% when ["1", "2", "2"] %>
    <h6>インド</h6>
    <p>歴史的建造物や多彩な文化体験を満喫したい人にぴったり</p>
    <p>LCCや特価便をいち早くチェックして費用を抑えよう</p>
    <p>後世に残る立派な墓、タージマハルに圧倒される旅になりそう</p>
  <% when ["2", "1", "1"] %>
    <h6>台湾</h6>
    <p>とにかく近場で日本人の舌に合うのはココ</p>
    <p>短い時間でレストランからカフェまで…グルメを満喫</p>
    <p>チャーハン、小籠包、牛肉麺など美食の宝庫</p>
  <% when ["2", "1", "2"] %>
    <h6>韓国</h6>
    <p>k-popからスパ、グルメまで欲張りな願いもかなう街</p>
    <p>贅沢で気分で癒されたいあなたに</p>
    <p>歴史・文化も一度に楽しめる</p>
  <% when ["2", "2", "1"] %>
    <h6>タイ</h6>
    <p>近場かつ本格的なタイ料理が絶品の国</p>
    <p>屋台や食堂で安い人気料理を楽しめる</p>
    <p>青い海とゆったり流れる時間</p>
  <% when ["2", "2", "2"] %>
    <h6>ベトナム</h6>
    <p>歴史的建造物や自然を低コストで満喫できる</p>
    <p>バイクやバスなど交通が安価</p>
    <p>ハノイやホーチミン、ホイアンなど歴史ある建造物や植民地時代の建築が魅力</p>
<% end %>
</div>